:root {
    --background: #fff;
    --base-background: #bbb;
    --highlighted-color: #ff7518;

    --switch-on-color: #ffffff;
    --switch-on-background: #1177d1;
    --switch-on-background-hover: #0555af;
    --switch-on-background-click: #003358;

    --switch-off-color: #282828;
    --switch-off-background: #ffffff;
    --switch-off-background-hover: #dddddd;
    --switch-off-background-click: #bbbbbb;

    --switch-disabled-background: #999999;

    --shadow: 0 2px 4px #00000015, 0 -2px 4px #00000015;
}

* {
    /* Default colors and fonts */
    color: var(--color);
    font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: lowercase;

    /* Don't split any lines */
    white-space: nowrap;

    /* Display everything in a centered column */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;

    /* Set default background to greyish */
    background: var(--base-background);
}

/* Header and footer appearance */
header {
    font-size: large;
}

footer {
    font-size: xx-small;
}

header, footer {
    color: var(--highlighted-color);
}

/* Mixed-appearance stuff */

header, footer, #toggle {
    font-weight: bold;
}

#toggle {
    font-weight: 900;
}

main * {
    font-size: medium;
}

header, footer, #state, #settings {
    background: var(--background);
    box-shadow: var(--shadow);
}

button.switch>label {
    cursor: inherit;
    background: transparent;

    /* The button has 0.5em padding, 
    this forces the label to cover it,
    in order to show tooltip everywhere. */
    margin: -0.5em;
    padding: 0.5em;
}

.hidden {
    display: none;
}

/* Positioning and sizing */

main, header, footer {
    padding: 1em;
}

body {
    margin: 0;
    min-width: 200px;
}

button.switch {
    outline: 0;
    border: 0;
    width: 100%;
    padding: 0.5em;
}

main :not(:first-child).segment {
    margin-top: 1em
}

/* Switch Button Off */

button.switch {
    color: var(--switch-off-color);
    background-color: var(--switch-off-background);
    cursor: pointer;
}

button.switch:not(:disabled):hover {
    background-color: var(--switch-off-background-hover);
    box-shadow: inset var(--shadow);
}

button.switch:not(:disabled):active {
    background-color: var(--switch-off-background-click);
    box-shadow: inset var(--shadow);
}

/* Switch Button On */

button.switch:not(:disabled).on {
    color: var(--switch-on-color);
    background-color: var(--switch-on-background);
}

button.switch:not(:disabled).on:hover {
    background-color: var(--switch-on-background-hover);
    box-shadow: inset var(--shadow);
}

button.switch:not(:disabled).on:active {
    background-color: var(--switch-on-background-click);
    box-shadow: inset var(--shadow);
}


/* Switch Button Disabled */

button:disabled {
    cursor: not-allowed;
    background-color: var(--switch-disabled-background);
    box-shadow: inset var(--shadow);
}

button:disabled>label {
    cursor: not-allowed;
}

/* Switch Display */

button.switch.on .switch_off {
    display: none;
}

button.switch:not(.on) .switch_on, 
button.switch:not(:disabled) .switch_disabled, 
button.switch:disabled>label:not(.switch_disabled) {
    display: none;
}